.propertyButton {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: rgb(236, 26, 59);
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.propertyButton:hover,
.propertyButton:focus {
  background: rgb(43, 110, 210);
}

.propertyButton:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}
